<div id="wrap">

<!-- Top nav -->

  <div id="large" class="navbar navbar-static-top" role="navigation">
    <button class="btn btn-danger logout pull-right">Logout</button>
    <div class="brand">
      <div class="logo-container">
	<img height="45px" src="images/jacks-logo.svg">
      </div>
    </div>
  </div>

  <div id="small" class="navbar navbar-static-top hidden" role="navigation">
    <button class="btn btn-danger logout pull-right">Logout</button>
    <div class="brand">
      <div class="logo-container">
	<img height="25px" src="images/jacks-logo.svg">
      </div>
    </div>
  </div>

<!-- End Top nav -->

<!-- Error Mode -->
  <div id="failContainer" class="container hides afterHide">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
	<div class="alert alert-danger">
	  <h1 id="failTitle"></h1>
	  <pre id="failMessage"></pre>
	</div>
      </div>
    </div>
  </div>

<!-- Main Jacks page -->
  <div id="canvasContainer" class="container hides afterHide"></div>
<!-- End Main Jacks page -->

<!-- Loading containers -->

  <div id="loadingContainer" class="container">
    <div class="row loading">
      <h1 id="title">Loading...</h1>
      <noscript>
        <h1>Jacks requires that JavaScript be turned on</h1>
      </noscript>
    </div>
  </div>

<!-- End Loading containers -->

  <div class="windowOpen hidden">
    <div class="alert alert-success"><h5 class="panel-title">Please continue in popup window.</h5></div>
  </div>

<!-- Login pages -->

  <div id="loginContainer" class="container hides"></div></div>



<!-- End Login pages -->
</div>

<div id="socketPool" class="row hides">
  <p>Could not load the Flash SocketPool for Jacks. Make sure you have Flash installed.</p>
</div>
