<!--
<div class="modal fade" id="error-modal">
  <div class="modal-dialog">
    <div class="modal-content">


    </div>
  </div>
</div>
-->
<div id="errorModal" class="fullscreen">
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="close" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
      <h4 class="error-title"></h4>
    </div>
    <div class="panel-body">
      <p class="error-contents"></p>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary pull-right">Close</button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="imageModal" class="fullscreen" style="display: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="close" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
      <h4>Pick Image</h4>
    </div>
    <div class="panel-body">
      <div class="image-contents"></div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary pull-right">Close</button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="topoButtons" class="viewer hidden">
  <button id="fbTour" class="btn btn-default">
    Slice Tour
  </button>
  <button id="fbSlice" class="btn btn-primary">
    Switch Slice
  </button>
  <button id="fbRspec" class="btn btn-primary">
    View Rspec
  </button>
</div>
<div id="topoButtons" class="editor hidden">
  <!--<button id="fbcTour" class="btn btn-primary pull-right">
    Edit Tour
  </button>-->
  <div id="fbcSite" class="pull-right"></div>
  <button id="fbcClear" class="btn btn-danger pull-right">
    Delete All
  </button>
  <button id="fbcCleanup" class="btn btn-primary pull-right">
    Tidy View
  </button>
  <button id="fbcRspec" class="btn btn-primary pull-right">
    View Rspec
  </button>
</div>
<div id="warning-field-container"></div>
<div id="leftNav">
  <div style="display: none; visibility: hidden" class="navSlices fromLeft withButtonBar">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-heading">
          <h3 class="panel-title">Select Slice</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div id="lnSliceList" class="list-group"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navRspec fromBottom">
    <div class="panel panel-default">
      <div class="panel-body">
	<button id="hideRspec" type="button" class="close">
	  <span aria-hidden="true">&times;</span>
	  <span class="sr-only">Close</span>
	</button>
        <div class="form-group">
          <div id="lnRspec">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none;  visibility: hidden" class="navTopo fromRight">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="addNodeList" class="form-group">
          <!--<div id="lnTopo" class="lnLink">
            <image id="node-source" class="nodebox" x="-30px" y="-30px" width="70px" height="45px">
            <span>Add VM</span>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div id="viewer-default" class="navTopo" style="display: none">
    <h1>Click Node to Select</h1>
  </div>

  <div class="closeContainer fromLeft withButtonBar">
    <button id="hideLeftPane" class="close" type="button">
      <span aria-hidden="true">x</span>
      <span class="sr-only">Close</span>
    </button>
  </div>

  <div class="nodeAttr fromLeft withButtonBar">
<!--
    <div class="panel panel-default">
      <div class="panel-body">
-->
<!--
          <div class="form-group">
	    <div class="naNameGroup">
              <h4>Name</h4>
              <input type="text" class="form-control" id="naName" value="">
	    </div>
	    <div class="naLoginGroup">
	      <strong>SSH to</strong> <span id="#loginHost"></span>
	    </div>
	    <div class="naNodeType">
	      <h4>Node Type</h4>
	      <input type="hidden" id="naTypes" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Type</span></div>
	      <input type="text" class="form-control custom">
	    </div>
	    <div class="naHardwareType">
	      <h4>Hardware Type</h4>
	      <input type="hidden" id="naHardwares" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Hardware</span></div>
	      <input type="text" class="form-control custom">
	    </div>
            <div class="naImageGroup">
              <h4>Disk Image</h4>
              <input type="hidden" id="naImages" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Disk Image</span></div>
	      <input type="text" class="form-control custom">
	      <input type="text" class="form-control customVersion"
		     placeholder="Version (for ExoGENI Images)">
            </div>
	    <div class="naInstallGroup">
	      <hr>
	      <h4>Install Scripts</h4>
	      <div id="install-list">
		<ul class="list"></ul>
		<button class="btn btn-success" id="add">Add</button>
	      </div>
	    </div>
	    <div class="naExecuteGroup">
	      <hr>
	      <h4>Execute Scripts</h4>
	      <div id="execute-list">
		<ul class="list"></ul>
		<button class="btn btn-success" id="add">Add</button>
	      </div>
	    </div>
	    <div class="naRoutableGroup">
	      <hr><div class="checkboxContainer">
	      <input id="routableControl" type="checkbox"> <span class="checkboxLabel">Publicly Routable IP</span></div>
	    </div>
	    <div class="naLinkTypeGroup">
	      <h4>Link Type</h4>
              <input type="hidden" id="naLinkType" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Link Type</span></div>
	      <input type="text" class="form-control custom">
	    </div>
	    <div class="naOpenflowGroup">
	      <div class="checkboxContainer"><input id="openflowControl" type="checkbox"> <span class="checkboxLabel">Enable Openflow</span></div>
	      <div id="openflowField">
		<h4>Controller URL (required)</h4>
		<input type="text" class="form-control"
		       id="naOpenflow" value=""
		       placeholder="ex: tcp:10.11.12.13:8000">
	      </div>
	    </div>
	    <div class="naSharedVLanGroup">
	      <h4>Shared VLan</h4>
	      <input type="hidden" id="naSharedVLan" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Shared VLan</span></div>
	      <input type="text" class="form-control custom">
	    </div>
	    <div class="naAggregateUrnGroup">
	      <h4>Aggregate</h4>
	      <input type="hidden" id="naAggregateUrn" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Aggregate</span></div>
	      <input type="text" class="form-control custom">
	    </div>
	    <div class="naInterfaceGroup">
	      <hr>
	      <h4>Interfaces</h4>
	      <div id="interface-list">
		<ul class="list"></ul>
	      </div>
	    </div>
	    <div class="naIconGroup">
	      <h4>Icon</h4>
	      <input type="hidden" id="naIcon" class="form-control dropdown">
	      <div class="checkboxContainer"><input class="checkbox" type="checkbox"> <span class="checkboxLabel">Custom Icon</span></div>
	      <input type="text" class="form-control custom">
	    </div>
-->
<!--
	    <div class="naLatencyGroup">
	      <h4>Latency (ms)</h4>
              <input type="text" class="form-control"
		     id="naLatency" value=""
		     placeholder="ex: 100"
		     title="Latency is the number of ms of delay"
		     pattern="[0-9]*[.]?[0-9]+">
	    </div>
	    <div class="naBandwidthGroup">
	      <h4>Bandwidth (kbps)</h4>
              <input type="text" class="form-control"
		     id="naBandwidth" value=""
		     placeholder="ex: 10000"
		     title="Bandwidth is the number of kbps required"
		     pattern="[0-9]*[.]?[0-9]+">
	    </div>
	    <div class="naLossGroup">
	      <h4>Loss (0.0-1.0)</h4>
              <input type="text" class="form-control"
		     id="naLoss" value=""
		     placeholder="ex: 0.03"
		     title="Loss should be a proportion between 0 and 1"
		     pattern="[0-9]*[.]?[0-9]+">
	    </div>
-->
<!--
            <hr>
            <button type="button" id="naDelete" class="btn btn-danger pull-right">
              Delete
            </button>
          </div>
-->
<!--
      </div>
    </div>
-->
  </div>

  <div id="versionNumber">v1.6</div>
</div>
<div id="topoContainer" class="withButtonBar showLeft"></div>
