<!-- Error Mode -->
<div id="failContainer" class="container hides afterHide">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="alert alert-danger">
	<h1 id="failTitle"></h1>
	<pre id="failMessage"></pre>
      </div>
    </div>
  </div>
</div>
<!-- End Error Mode -->

<!-- Main Jacks page -->
<div id="canvasContainer" class="container"></div>
<!-- End Main Jacks page -->

<!-- Loading containers -->
<div id="loadingContainer" class="container">
  <div class="row loading">
    <h1 id="title">Loading...</h1>
    <noscript>
      <h1>Jacks requires that JavaScript be turned on</h1>
    </noscript>
  </div>
</div>
<!-- End Loading containers -->
