<div class="row xmlrpc">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

    <!-- Wait spinner -->
    <div id="waitContainer" class="text-center hides afterHide">
      <span id="waitText">Doing stuff...</span>
      <img src="images/ajax-loader.gif">
    </div>

    <!-- Cert window -->
    <div id="certificate" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <ul class="nav nav-tabs sslCertNav">
            <li class="active saTab"><a href="#">Identity Provider</a></li>
            <li class="fileTab"><a href="#">Certificate</a></li>
          </ul>

          <div class="panel-body sa active tab">
            <p>Sign in using your account at any one of GENI's federated
              facilities:</p>
	    <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Recommended Providers
                    </h4>
                  </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div id="recommendedSA">
                      <div class="recSAImages">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Other Providers
                    </h4>
                  </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="otherSA">
                      <select class="form-control sliceAuthorities"></select>
                      <button id="other-sa-button" class="btn btn-primary btn-sm pull-right retrieve-cert">Retrieve Certificate</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body fromFile tab">
            <h5>
              Enter SSL Certificate
              <a class="info" data-toggle="tooltip" data-placement="right" data-html="true" title="SSL Certificate is in PEM format">
                <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </h5>
            <p>You may paste a certificate issued by any GENI identity provider below.</p>
            <textarea id="clientKey" class="form-control" rows="5"></textarea>
            <button id="manualCert" class="btn btn-primary btn-sm pull-right cert-form" type="button">Select Certificate</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Passphrase window -->
    <div id="passphrase" class="panel panel-default hides afterHide">
      <div class="panel-heading">
        <h3 id="userNameContainer" class="panel-title" style="display: none;">Log In</h3>
      </div>
      <div class="panel-body">
	<div class="alert alert-info">Remember to use the passphrase for your certificate, not for your identity provider.</div>
        <div class="form-group" id="userGroup">
          <h5>Identity Provider</h5>
          <input type="text" class="form-control" id="currentSA" disabled>
          <h5>User Name</h5>
          <input type="text" class="form-control pull-left" id="userName" disabled>
          <button id="passBack" class="btn btn-primary btn-sm pull-right" type="button">Change User</button>
        </div>
        <div class="form-group" id="passGroup">
          <h5>Enter Passphrase</h5>
          <input type="password" class="form-control" id="clientPhrase">
          <div id="passError" class="alert alert-danger hidden"></div>
          <button id="passForm" class="btn btn-primary btn-sm pull-right" name="pass" type="button">Log In</button>
        </div>
      </div>
    </div>

    <!-- Slice select window -->
    <div id="sliceListContainer" class="panel panel-default hides afterHide">
      <div class="panel-heading">
	<h3 class="panel-title">Available Slices</h3>
      </div>
      <div class="panel-body">
	<div class="form-group">
          <div id="slice-list" class="list-group"></div>
	  <!--              <button id="select-slice" class="btn btn-primary btn-sm pull-right">Select</button> -->
	</div>
      </div>
    </div>
  </div>
</div>
